Q&A Activity Question Week -09

Do the following on the dataset

.	Explain the dataset

.	Check the summary statistics and discuss the max, min, avg, median, and percentiles.

.	The manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper). Comment on your findings.

In [8]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [9]:
data=pd.read_csv('Advertising.csv')
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

# Explain the dataset

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

It contains 200 entries.No null values present in the dataset.

# Check the summary statistics and discuss the max, min, avg, median, and percentiles.

In [11]:
data.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

The above tables shows the mean,standard deviation,max,min,median,and percentiles.The maximum amount spent on advertisement was on TV and minimum on Radio.

# The manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper). Comment on your findings.

Using one-way ANOVA.Null Hypothesis:Same amont was spent on 3 advertisements.Alternate Hypothesis:Different amonut was spent on 3 advertisements.The alpha value:0.05

In [11]:
F, p = stats.f_oneway(data['TV'], data['Radio'], data['Newspaper'])
print(F,p)
print('t=%.3f, p=%.3f' % (F, p))

358.8514595342597 4.552931539744962e-103
t=358.851, p=0.000

The p-value obtained from ANOVA test is less than alpha value (0.000<0.05).so we can reject the Null Hypothesis and retain the Alternate Hypothesis.ie,different amount is spent on three advertisements.